* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table tr:nth-child(even) {
  background-color: lightslategray;
}

table tr:hover {
  background-color: lightsteelblue;
}

thead {
  background-color: blueviolet;
  color: white;
}

th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

td a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

td a:hover {
  background-color: blueviolet;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}